.grid-container {
  resize: both;
  overflow: auto;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(275px, auto);
  grid-template-rows: minmax(100px, 20%) auto;
}

header {
  background-color: aqua;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

nav {
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

main {
  background-color: blueviolet;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* FOOTER */

.attribution {
  height: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #FCFAF9;
}

.attribution a { color: hsl(228, 45%, 44%); }

